@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

body{
  background-image: url('/mood-journal-background.jpg');
}

/* Mobile Styling */

/* Landing Page */
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing_page_container{
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.landing_page_heading{
  font-family: 'Raleway', sans-serif;
  color: #143f4d;
  font-size: 1.5em;
}

._paragraphs{
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  color: #143f4d;
  font-weight: bold;
  line-height: 2;
}

.enter_here_button{
  height: 30px;
  width: 70px;
  font-family: 'Cedarville Cursive', cursive;
  text-decoration: none;
  border: none;
  cursor: pointer;
  color: #f9ada9;
  background-color: #143f4d;
  font-weight: bold;
  border-radius: 25px;
  text-align: center;
}

/* Home */

.home_container{
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.add-button{
  width: 290px;
  height: 25px;
  background-color: #143f4d;
  color: #f9ada9;
  border-radius: 25px;
  border: none;
}

.add-button:target{
  display: none;
}

.entries{
  padding: 1rem;
}

ul{
  list-style-type: none;
  padding-left: 0;
  color: #143f4d;
}

li p{
  font-weight: bold;
}

a{
  text-decoration: none;
  color: #143f4d;
}

.edit_button{
  background-color: #143f4d;
  border: none;
  color: #f9ada9;
  border-radius: 25%;
  height: 25px;
  width: 25px;
  margin-left: 1rem;
}

.delete_button{
  background-color: #143f4d;
  border: none;
  color: #f9ada9;
  border-radius: 25%;
  height: 25px;
  width: 25px;
}

/* Add Entry Modal */

.entry_modal{
  /* background-color: #f9ada9; */
  border: none;
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #143f4d;
}

.exit_button{
  background-color: #143f4d;
  border: none;
  color: #f9ada9;
  border-radius: 25%;
  height: 25px;
  width: 25px;
}

.title_field{
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: lightgrey;
}

.title_label{
  font-family: 'Raleway', sans-serif;
  width: 100%;
  border: 0;
  border-bottom: 2px solid lightgray;
  outline: 0;
  font-size: 1rem;
  color: #143f4d;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.mood{
display: flex;
flex-direction: column;
}

.select_mood{
line-height: 3em;
border-color: lightgrey;
}

#mood{
  padding: .5em;
  font-family: 'Raleway', sans-serif;
  color: #143f4d;
  line-height: 3em;
}

#description{
  font-family: 'Raleway', sans-serif;
  border: solid;
  border-width: thin;
  border-color: lightgrey;
}

.entry_submit{
  height: 30px;
  width: 70px;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  border: none;
  cursor: pointer;
  color: #f9ada9;
  background-color: #143f4d;
  font-weight: bold;
  border-radius: 25px;
  text-align: center;
}

/* Edit Entry Modal */



/* Tablet Styling */
@media (min-width: 700px){

}

/* Desktop Styling */
@media (min-width: 1050px ){

}